@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Barlow";
	font-weight: 300;
}

[contenteditable="true"]:empty:before {
	content: attr(placeholder);
	display: block;
	color: #808080;
}
